@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1 class="display-4">Hello @ViewBag.Email!</h1>
    <p class="lead">Welcome to the Room Booking System.</p>
    <hr class="my-4" />
    <a class="btn btn-primary btn-lg" href="/Rooms/Index" role="button">Browse Rooms</a>
    <a class="btn btn-secondary btn-lg" href="/Orders/MyOrders" role="button">My Orders</a>
</div>
